body {
  background-color: purple;
}

.unicorn-container {
  position: fixed;
  top: 30%;
  left: 30%;
}

.torso {
  background-color: white;
  width: 200px;
  height: 100px;
  border-radius: 50px;
  position: absolute;
  margin-top: 100px;
}

.head {
  position: absolute;
  background-color: white;
  width: 100px;
  height: 150px;
  border-radius: 50px;
  margin-top: 40px;
  margin-left: 115px;
  transform: rotate(20deg);
  z-index: 1;
}

.belly {
  position: absolute;
  background-color: white;
  width: 170px;
  height: 50px;
  border-radius: 50%;
  margin-top: 157px;
  margin-left: 15px;
}

.nose {
  position: absolute;
  background-color: white;
  width: 100px;
  height: 40px;
  border-radius: 30px;
  margin-top: 70px;
  margin-left: 155px;
  transform: rotate(5deg)
}

.ear {
  position: absolute;
  background-color: white;
  width: 20px;
  height: 70px;
  border-radius: 50%;
  margin-top: 15px;
  margin-left: 140px;
  transform: rotate(-20deg)
}

.eye {
  position: absolute;
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 170px;
  margin-top: 66px;
  z-index: 2;
}

.blink-overlay {
  position: absolute;
  z-index: 3;
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: 3px;
  margin-left: 3px;
  animation: blink 1s step-start 0s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.innerear {
  position: absolute;
  background-color: pink;
  width: 15px;
  height: 60px;
  border-radius: 50%;
  margin-top: 18px;
  margin-left: 142px;
  transform: rotate(-20deg);
  z-index: 0;
}

.horn {
  position: absolute;
  background-color: goldenrod;
  width: 20px;
  height: 80px;
  border-radius: 50%;
  margin-left: 170px;
  transform: rotate(5deg);
  z-index: 0;
}

.tail {
  margin-top: 100px;
  margin-left: -75px;
}

.tail-top {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 30px solid magenta;
  border-bottom: 25px solid transparent;
  z-index: 3;
  margin-left: 50px;
  transform: rotate(20deg);
}

.tail-middle {
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  z-index: 4;
  background-color: magenta;
  margin-left: -13px;
  margin-top: -28px;
}

.tail-end {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-right: 30px solid magenta;
  border-bottom: 25px solid transparent;
  z-index: 2;
  margin-left: -32px;
  margin-top: -3px;
  transform: rotate(-17deg)
}

.backleg-behind {
  position: absolute;
  height: 100px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  margin-top: 70px;
  margin-left: 30px;
  transform: rotate(25deg);
  z-index: -3;
  border-right: 3px solid lightgray;
  animation: swingfront 1s infinite;
}

.backleg-front {
  position: absolute;
  height: 100px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  margin-top: 70px;
  margin-left: 30px;
  transform: rotate(-25deg);
  z-index: -2;
  border-right: 3px solid lightgray;
  animation: swingback 1s infinite;
}

.frontleg-behind {
  position: absolute;
  height: 100px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  margin-top: 70px;
  margin-left: 140px;
  transform: rotate(25deg);
  z-index: -3;
  border-right: 3px solid lightgray;
  animation: swingback 1s infinite;
}

.frontleg-front {
  position: absolute;
  height: 100px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  margin-top: 70px;
  margin-left: 140px;
  transform: rotate(-25deg);
  z-index: -2;
  border-right: 3px solid lightgray;
  animation: swingfront 1s infinite;
}

@keyframes swingback {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

@keyframes swingfront {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(020deg);
  }
}



